@import "tailwindcss";

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
}

body,
input,
textarea,
button {
    font-family: "DM Sans", Arial, sans-serif;
    font-size: 1rem;
}

.wrapper {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
}

.btn {
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;
    transition: background-color 0.1s ease-in-out;
}

@media screen and (max-width: 767.97px) {
    .hidden-mobile {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .hidden-desktop {
        display: none;
    }
}

.hidden {
    display: none;
}
